body {
	font-family:ו;
	font-size:1.1em;
}

.main {
	border:1px solid grey;
	width: 50%;
	margin: 10% auto 0 auto;
}

.title {
	margin-left: 2%;
	margin-top: 1%;
	font-weight: bold;
}

.hint {
	margin-left: 4%;
	margin-bottom: 1%;
}

.button {
	font-family:ו;
	font-size:1.1em;
	margin: 0 0 1% 45%;
}

.report_main {
	width: 50%;
	margin: 5% auto 0 auto;
}

.report_title {
	text-align:center;
	font-weight: bold;
}

.paragraph_title {
	text-align:center;
	font-weight: bold;
	font-size:1.2em;
	color:white;
	background-color:red;
}

.error{
	margin: 10% auto 0 auto;
}
