<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript" src="/static/js/include.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MBIT测试</title>
<script type="text/javascript">
	function startExam(){
		var paper_id = $("#paper_id").val();
		//var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
		$.post("/startExam/",
		{
			//csrfmiddlewaretoken:csrfmiddlewaretoken,
			paper_id:paper_id
		},
		function(data,status){
			if(status="success"){
				location.href = "/question";
			}else{
				alert("fail");
			}
		});
	}
</script>
</head>
<body>
	<div class="main">
		<p class="title">MBTI测试:</p>
		<p class="hint">1、请选择最接近你真实想法的选项。</p>
		<input type="button" value="开始答题" class="button" onclick="startExam()"/>
		<input type="hidden" name="paper_id" id="paper_id" value="1"/>
	</div>
</body>
</html>
