<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript" src="/static/js/include.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MBIT测试</title>
<script type="text/javascript">
	$(document).ready(function() {
/*		
		$("input[type='radio']").click(function() {
			$("#content").html("<b>Hello world!</b>");
		});
*/		
		$("input[type='radio']").click(function() {
/*			
			$.get("/jsonTest",function(data,status){
			    alert("Data: " + data + "\nStatus: " + status);
			    obj = JSON.parse(data);
			    alert(obj);
			});
*/			
			$.getJSON("/jsonTest", function(json){
				  alert("JSON Data: " + json.question.pk);
				});
		});
	});
</script>
</head>
<body>
	<div id="content" class="main">
		<p class="title">{{question.content}}</p>
		{% for option in options %}
			<p class="hint">
				<input type="radio" name="option" />{{option.serialno}}、{{option.content}}
			</p>
		{% endfor %}
	</div>
</body>
</html>
