<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<script type="text/javascript" src="/static/js/include.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MBIT测试</title>
<script type="text/javascript">
	function getNextQuestion(){
		paper_id = $("#paper_id").val();
		qno = $("#qno").val();
		var user_paper_id = $("#user_paper_id").val();
		var url = "/question?paper_id="+paper_id+"&qno="+qno+"&user_paper_id="+user_paper_id;
		$.get(url,function(data,status){
		    $("#content").html(data);
		});
	}
	
	function optionChange(){
		//var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
		var user_paper_id = $("#user_paper_id").val();
		var question_id = $("#question_id").val();
		var option_id = $("input[name='option']:checked").val()
		$.post("/saveAnswer/",
			{
				//csrfmiddlewaretoken:csrfmiddlewaretoken,
				user_paper_id:user_paper_id,
				question_id:question_id,
				option_id:option_id
			},
			function(data,status){
				if(status="success"){
					//动态显示下一道试题
					getNextQuestion();
				}else{
					alert("fail");
				}
			});
	}
</script>
</head>
<body>
	<div id="content" class="main">
		<input type="hidden" id="user_paper_id" value="{{user_paper_id}}">
		<input type="hidden" id="question_id" value="{{question.id}}">
		<input type="hidden" id="qno" value="{{qno}}">
		<input type="hidden" id="paper_id" value="{{paper_id}}">
		<p class="title">{{question.content}}</p>
		{% for option in options %}
			<p class="hint">
				<input type="radio" name="option" onclick="optionChange()" value="{{option.id}}"/>{{option.serialno}}、{{option.content}}
			</p>
		{% endfor %}
	</div>
</body>
</html>
