<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!-- <base href="http://localhost"> -->
<script type="text/javascript" src="/static/js/include.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MBIT测试</title>
<script type="text/javascript">
	$(document).ready(function() {
		var ctx = document.getElementById("myChart").getContext("2d");
		var data = {
			labels : ["外向（E）","实感（S）","思考（T）","判断（J）","内向（I）","直觉（N）","情感（F）","知觉（P）"],
			datasets : [
				{
					fillColor : "rgba(151,187,205,0.5)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					data : [{{EN}},{{SN}},{{TN}},{{JN}},{{IN}},{{NN}},{{FN}},{{PN}}]
				}
			]
		}
		new Chart(ctx).Radar(data);
	});
	
</script>
</head>
<body>
	<div class="report_main">
		<p class="report_title" >{{report.description}}</p>
		<p class="paragraph_title" >一、您的MBTI图形</p>
		<center><canvas id="myChart" width="400" height="400"></canvas></center>
		{% for paragraph in report_paragraph %}
		<p class="paragraph_title" >{{paragraph.title}}</p>
		<p class="paragraph_content" >{{paragraph.content|safe}}</p>
		{% endfor %}
	</div>
</body>
</html>
